@keyframes logo-wrapper {
    from { 
        opacity: 0;
        transform: scale(2);
    }
    to   { 
        opacity: 1;
        transform: scale(1);
    }
}
@keyframes logo-inner {
    from { 
        transform: rotate(180deg);
    }
    to   { 
        transform: rotate(0deg);
    }
}
@keyframes logo-outer {
    from { 
        transform: rotate(-90deg);
    }
    to   { 
        transform: rotate(0deg);
    }
}
@keyframes logo-line {
    from   { 
        -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    }
    to { 
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
}