* {
  box-sizing: border-box;
}

button:focus, button:active, input:focus, input:active, select:focus, select:active, textarea:focus, textarea:active {
  outline: none;
}

html {
  @include for-mobile-layout {
    font-size: 18px;
  }
}

body {
  background-color: #fff !important;
  font-family: 'heebo', Arial, Helvetica, sans-serif;
  font-size: rem(14px);
  color: $clr1;
  @include for-normal-layout {
    background-image: url('../../images/main_bg.gif');
    background-color: transparent !important;
  }
}

::-moz-selection { /* Code for Firefox */
  color: #fff;
  background: $clr5;
  text-shadow: none;
}

::selection {
  color: #fff;
  background: $clr5;
  text-shadow: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0.5em;
  font-weight: normal;
  font-family: 'heebo-medium';
}

h2, h3, h4, h5, h6 {
  color: $clr5;
}

small {
  font-size: rem(12px);
}

p {
  margin-top: 0;
}

a {
  text-decoration: none;
  color: $clr2;
  &.is-active {
    &:hover {
        color: inherit;
        cursor: default;
    }
  }
}

button, .btn {
  @include button-layout;
}

q, blockquote {
  quotes:  "”" "“" "'" "'";
  font-size: rem(20px);
  font-family: 'heebo-bold';
  color: #aca573;
  margin: rem(16px) 0 rem(4px);
  display: inline-block;
}

blockquote:before {
  content: open-quote;
  margin-left: -4px;
  position: relative;
  top: 10px;
  font-family: 'heebo';
  font-size: 31px;
  line-height: 0;
}
blockquote:after {
  content: close-quote;
  margin-right: -4px;
  position: relative;
  top: 10px;
  font-family: 'heebo';
  font-size: 31px;
  line-height: 0;
}
q:before {
    content: open-quote;
}
q:after {
    content: close-quote;
}



.quote-author {
  font-style: italic;
}


img {
  width: 100%;
  height: auto;
}

iframe {
  width: 100%;
  height: auto;  
}

button, select {
  cursor: pointer;
}

.container-inline div, .container-inline label {
  display: inline-block;
}

.page-title {
  margin-top: 30px;
  // body:not(.node--type-page) & {
  //   margin-top: 40px;
  // }
}