/*----------  Rubik Font  ----------*/

@font-face {
    font-family: 'heebo';
    src: url('../../fonts/heebo/Heebo-Regular.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'heebo-medium';
    src: url('../../fonts/heebo/Heebo-Medium.ttf');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'heebo-bold';
    src: url('../../fonts/heebo/Heebo-Bold.ttf');
    font-weight: 400;
    font-style: normal;
}