$mobile-breakpoint: 550px;
$narrow-breakpoint: 1100px;
$narrow-height-breakpoint: 550px;
$normal-height-breakpoint: 750px;


/* Breakpoint mixins */

@mixin for-mobile-layout {
  @media (max-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin for-gallery-spreaded-layout {
  @media (max-width: $narrow-breakpoint), (max-height: $narrow-height-breakpoint) {
    @content;
  }
}

@mixin for-narrow-layout {
  @media (min-width: $mobile-breakpoint) {
    @content;
  }
}
@mixin for-narrow-wide-layout {
  @media (min-width: $mobile-breakpoint) and (max-height: $narrow-height-breakpoint) {
    @content;
  }
}

@mixin for-normal-layout {
  @media (min-width: $narrow-breakpoint) and (min-height: $narrow-height-breakpoint) { 
    @content;
  }

}

@mixin for-six-column-layout {
  @media (min-width: $narrow-breakpoint) { 
    @content;
  }
}

@mixin for-five-column-layout {
  @media (min-width: $narrow-breakpoint) and (min-height: $normal-height-breakpoint) { 
    @content;
  }
}

/* Size Functions */

@function rem($size) {
  $remSize: $size / 16px;
  @return ($remSize) * 1rem;
}

@function em($pixels, $context: 16px) {
  @return ($pixels/$context) * 1em;
}

/* Pager Functions */

@mixin pager-arrow($inner-text) {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
  &::after {
    content: $inner-text;
    color: $color-2;
  }
  &:hover::after {
    color: $color-1;
  }
}