$mobile-breakpoint: 550px;
$narrow-breakpoint: 700px;
// $narrow-height-breakpoint: 550px;
// $normal-height-breakpoint: 750px;


/* Breakpoint mixins */

@mixin for-mobile-layout {
  @media (max-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin for-normal-layout {
  @media (min-width: $narrow-breakpoint) {
    @content;
  }
}

/* Size Functions */

@function rem($size) {
  $remSize: $size / 16px;
  @return ($remSize) * 1rem;
}

@function em($pixels, $context: 16px) {
  @return ($pixels/$context) * 1em;
}