$mobile-breakpoint: 520px;
$two-column-breakpoint: 640px;
$narrow-breakpoint: 860px;
$wide-breakpoint: 1060px;
// $narrow-height-breakpoint: 550px;
// $normal-height-breakpoint: 750px;


/* Breakpoint mixins */

@mixin for-mobile-layout {
  @media (max-width: $mobile-breakpoint) {
    @content;
  }
}

@mixin for-wide-layout {
  @media (min-width: $wide-breakpoint) {
    @content;
  }
}

@mixin for-normal-layout {
  @media (min-width: $narrow-breakpoint) {
    @content;
  }
}

@mixin two-column-layout {
  @media (min-width: $two-column-breakpoint) {
    @content;
  }
}

// @mixin for-narrow-layout {
//   @media (min-width: $narrow-breakpoint) {
//     @content;
//   }
// }

/* Size Functions */

@function rem($size) {
  $remSize: $size / 16px;
  @return ($remSize) * 1rem;
}

@function em($pixels, $context: 16px) {
  @return ($pixels/$context) * 1em;
}