// ------------- Block Helpers ------------- //

.block {
  display: block;
}

.site-block {
  margin-bottom: rem(20px);
}

.relative {
  position: relative;
}

.full-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left:0;
  z-index: -1;
}

/*----------  Flex Helpers  ----------*/

.flex, .flex-view .view-content {
  display: flex;
  // &.mobile-column {
  //   @include for-mobile-layout {
  //     flex-direction: column;
  //     align-items: center;
  //   }
  // }

  .full {
    flex: 1;
  }
}

.flex.align-center, .flex-view.align-center .view-content {
  align-items: center;
}

.flex.align-end, .flex-view.align-end .view-content {
  align-items: flex-end;
}

.flex.align-start, .flex-view.align-start .view-content {
  align-items: flex-start;
}

.justify-center, .flex-view.justify-center .view-content {
  justify-content: center;
}

.justify-end, .flex-view.justify-end .view-content {
  justify-content: flex-end;
}

.space-between, .flex-view.space-between .view-content {
  justify-content: space-between;
  // @include for-mobile-layout {
  //   justify-content: space-around;
  // }
}

.flex-wrap, .flex-view.flex-wrap .view-content {
  flex-wrap: wrap;
}

.self-end, .flex-view.self-end .view-content {
  align-self: flex-end;
}

.column, .flex-view.column .view-content {
  flex-direction: column;
}

//----------//

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
  & .container-12, & .container-12 .grid-12 {
    width: 100%;
    margin: 0;
  }
}

.view-filters {
  clear: both;
}

a.more-link {
  margin: 0 5px;
}