.dialog-off-canvas-main-canvas {

    margin: 0 auto;
    max-width: 860px;
    @include for-wide-layout {
        max-width: 1024px;
    }
}

.main-layout {
    background-color: #F6F5F0;
    border-right-width: 4px;
    border-bottom-width: 4px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-right-color: #807b56;
    border-bottom-color: #807b56;
    border-top-width: 2px;
    border-left-width: 2px;
    border-top-style: solid;
    border-left-style: solid;
    border-top-color: #F6F5F0;
    border-left-color: #F6F5F0;
    padding-bottom: 90px;
    
    .region-content {
        width: 100% !important;
        margin: 0 !important;
        > * {
            padding: 0 30px;
            &.messages--status {
                position: relative;
                top: 32px;
                padding: 20px 30px;
                box-shadow: none;
                margin: 0 20px;
                border-right: solid 1px #c9e1bd;
            }
        }
    
    }
}

header {
    margin: 40px 0 6px;
}

.page-image img {
    padding: 10px;
    background-color: #FFF;
    border: 1px solid #777868;
}

.layout__region--first {
    border-right: 1px solid $clr5;
    padding: 0 26px 0 0;
    body.node--type-web-form-page & {
        border-right: none;
        padding: 0 0 0 26px;
    }   
}
.layout__region--second {
    padding: 0 60px 0 0;
    body.node--type-web-form-page & {
        padding: 0 26px 0 0;
    }
}

.layout__region--top {
    margin-bottom: rem(14px);
}

.pager__items {
    margin: 30px 0 0;
    text-align: start;
    padding: 0;
    a {
        color: inherit;
        &:hover {
            color: $clr2;
        }
    }
    .pager__item.is-active {
        font-weight: normal;
        font-family: 'heebo-bold';
    }
}