.logo {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    padding-top: 103.333%;

    > * {
        background-repeat: no-repeat;
        background-size: 100%;
    }
    
    .main {
        display: block;
        background-image: url(../../images/logo/main.stroke.svg);
        z-index: 2;
        position: absolute;
        width: 87.5%;
        height: 91.935%;
        top: 4.838%;
        left: 0;
    }
    
    .inner {
        content: '';
        background-image: url(../../images/logo/inner.stroke.svg);
        z-index: 3;
        display: block;
        width: 30%;
        height: 58%;
        position: absolute;
        top: 26.612%;
        left: 5.833%;
    }
    
    .outer {
        content: '';
        background-image: url(../../images/logo/outer.stroke.svg);
        z-index: 0;
        display: block;
        width: 57.5%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 35%;
    }
    
    
    .line {
        background-image: url(../../images/logo/red.stroke.svg);
        z-index: 1;
        display: block;
        width: 90%;
        height: 31.451%;
        position: absolute;
        top: 38.709%;
        left: 10%;
    }
}