.logo-wrapper {
    &.small {
        width: 84px;
    }
    &.large {
        width: 140px;
    }
}

.logo-block {
    
    .field--name-body {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: 12px;
    }
    .logo-info {
        flex: 1;
        text-align: end;
        margin: 0;
        a {
            color: inherit;
            font-family: heebo-medium;
        }
    }
    .animated {
        animation: logo-wrapper 4s ease-in;
        -webkit-backface-visibility: hidden;
        .logo {
            .inner {
                transform-origin: 100% 50%;
                animation: logo-inner 4s ease-in;
                -webkit-backface-visibility: hidden;
            }
            .outer {
                transform-origin: 0% 55%;
                animation: logo-outer 4s ease-in;
                -webkit-backface-visibility: hidden;
            }
            .line {
                animation: logo-line 4s ease-in;
                -webkit-backface-visibility: hidden;
            }
        }
    }
}

.logo {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    padding-top: 103.333%;

    > * {
        background-repeat: no-repeat;
        background-size: 100%;
    }
    
    .main {
        display: block;
        background-image: url(../../images/logo/main.stroke.svg);
        z-index: 2;
        position: absolute;
        width: 87.5%;
        height: 92.44%;
        top: 4.838%;
        left: 0;
    }
    
    .inner {
        content: '';
        background-image: url(../../images/logo/inner.stroke.svg);
        z-index: 3;
        display: block;
        width: 30%;
        height: 58%;
        position: absolute;
        top: 26.612%;
        left: 5.833%;
    }
    
    .outer {
        content: '';
        background-image: url(../../images/logo/outer.stroke.svg);
        z-index: 0;
        display: block;
        width: 57.5%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 35%;
    }
    
    
    .line {
        background-image: url(../../images/logo/red.stroke.svg);
        z-index: 1;
        display: block;
        width: 90%;
        height: 31.451%;
        position: absolute;
        top: 38.709%;
        left: 10%;
    }
}

.logo-text {
    margin: 0;
    line-height: 0.9;
    font-size: rem(66px);
    letter-spacing: rem(2px);
    .small-logo & {
        line-height: 1;
        font-size: rem(42px);
    }
}
.logo-menu {
    font-family: 'heebo-medium';
    margin-right: rem(-30px);
    font-size: rem(18px);
    .small-logo & {
        font-size: rem(14px);
        margin-right: rem(0px);
    }
    @include for-mobile-layout {
        font-size: rem(14px);
    }
}