// Global

.menu-item--collapsed, [dir="rtl"] .menu-item--collapsed {
    list-style: none
}

// Main Menu //

.main-menu {

    font-family: 'heebo-medium';
    font-size: rem(20px);
    
    ul.menu {
        display: flex;

        margin: 0;
        padding: 0;

    }
    
    li.menu-item {
        padding: 0;
        &.menu-item--active-trail {
            order: -1;
        }
        &::after {
            content: '|';
            margin-left: 6px;
        }
        &.menu-item--active-trail a {
            font-family: 'heebo-medium';
            font-size: rem(20px);
            &:hover {
                color: inherit;
            }
        }
        a {
            color: $clr1;
            font-size: rem(18px);
            &:hover {
                // color: rgba($clr3, .7);
                color: $clr2;
            }
        }
    }
}

// Secondary Menu (Header)

.secondary-menu-header {
    ul.menu {
        display: flex;
        align-items: center;
        height: 24px;
        background: $clr5;
        color: #fff;
        body.polygraph & {
            margin: 18px 0 0 120px;
        }
        body.investigation & {
            margin: 18px 0 0 110px;
            -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 18px 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 18px 100%);
        }
    }
    
    li.menu-item {
        padding: 0;
        height: 24px;
        display: flex;
        align-items: center;

        a {
            padding: 0 6px;
            color: #fff;
            line-height: 24px;
            display: inline-block;
            border-left: 1px solid rgba(255, 255, 255, 0.38);
            transition: background .3s;
            &.is-active, &:hover {
                background-color: rgba($clr1, .3);
            }
        }
    }
}